<%- include("../layouts/header"); -%>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="container">
                    <h2 class="page-title">Add a Coupon</h2>
                    <a href="/coupon/all" class="btn btn-sm btn-secondary mt-2">Go Back</a>
                </div>
                <br>
                <div class="container table-style card">
                    <p>Please enter either discount in percentages or flat, don't enter both at a time.</p>
                    <form method="post" action="/coupon">
                        <div class="row">
                            <div class="col col-4 mb-3">
                                <label for="coupon">Enter the coupon code</label>
                                <input class="form-control rounded-0" type="text" name="coupon" id="coupon"
                                    placeholder="Coupone Code">
                            </div>
                            <div class="col col-4 mb-3">
                                <label for="discountinpercentage">Discount in Percentage(%)</label>
                                <input class="form-control rounded-0" type="number" name="discountinpercentage"
                                    id="discountinpercentage" placeholder="in %">
                            </div>
                            <div class="col col-4 mb-3">
                                <label for="discountinprice">Flat Discout(in $)</label>
                                <input class="form-control rounded-0" type="number" name="discountinprice" id="order"
                                    placeholder="in dollars">
                            </div>
                        </div>
                        <button class="btn btn-secondary mt-2 button-style" type="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <%- include("../layouts/footer"); -%>