<%- include("../layouts/header"); -%>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="container">
                    <h2 class="page-title">Add Instructor</h2>
                    <a href="/portfolio/all" class="btn btn-sm btn-secondary">Back to all Instructor</a>
                </div>
                <br />
                <div class="container">
                    <form method="post" action="/portfolio" class="needs-validation" enctype="multipart/form-data"
                        nonvalidate>
                        <div class="row">
                            <div class="col col-md-4 mb-3">
                                <label for="name" class="form-label">Instructor Name:</label>
                                <input type="text" class="form-control rounded-0" id="name" name="name"
                                    placeholder="Name of instructor" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col col-md-4 mb-2">
                                <label for="image">Upload Image:</label>
                                <input type="file" class="form-control rounded-0" name="image" id="img">
                            </div>

                            <div class="col col-md-4 mb-3">
                                <label for="qualification" class="form-label">Qualification:</label>
                                <input type="text" class="form-control rounded-0" id="qualification"
                                    name="qualification" placeholder="Qualification">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 mb-3">
                                <label for="designation" class="form-label">Designation:</label>
                                <input type="text" class="form-control rounded-0" id="designation" name="designation"
                                    placeholder="Designation">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col col-md-4 mb-3">
                                <label for="description" class="form-label">Description:</label>
                                <textarea name="description" id="description" class="form-control rounded-0" rows="3"
                                    placeholder="Description"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Add Detail</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap Form Validation Plugin -->
    <%- include('../partials/form-validation') %>

        <%- include("../layouts/footer"); -%>