<h3>
    <a href="/admin" class="nav-link text-secondary">
        ADMIN DASHBOARD
    </a>
</h3>

<div class="list-group list-group-flush border-2 border-end border-secondary">

    <a href="/admin/allproduct" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        All listed product
    </a>

    <a href="/admin/allCategories" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Industries
    </a>

    <a href="/portfolio/all" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Instructor's
    </a>

    <a href="/price/all" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Payment Option's
    </a>

    <a href="/coupon/all" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Discount Coupon's
    </a>

    <a href="/admin/cartdata_to_no_purchase"
        class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Abandoned Cart's
    </a>

    <a href="/admin/archive" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Archived
    </a>
    <a href="/admin/lead/alldata" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        New Registered Users
    </a>
    <a href="/admin/lead/paymentstatus" class="list-group-item list-group-item-action fs-2 py-2 bg-hover-secondary">
        Failed Payments
    </a>
</div>