<section class="bg-secondary py-4 py-md-6">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img
                        src="/assets/img/logos/logo_1.png" alt="logo" /></a>
                <p class="text-light my-4">Skillpreceptor is an Online Platform which provides extensive<br
                        class="d-none d-sm-block" />industry relevant training programs, designed and
                    delivered<br class="d-none d-sm-block" />in collaboration with world-class industry experts,
                    <br class="d-none d-sm-block" />to cater to a wide array of business verticals.
                </p>
            </div>

            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1"></div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                <h3 class="lh-lg fw-medium text-light mb-4 font-sans-serif">Connect</h3>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-primary" href="/faqs">FAQ's</a>
                    <li class="lh-lg"><a class="text-primary" href="/aboutus">About</a></li>
                    <li class="lh-lg"><a class="text-primary" href="/contact">Contact Us</a></li>
                    <li class="lh-lg"><a class="text-primary" href="/newsletter/unsubscribe/">Unsubscribe</a></li>
                    <li class="lh-lg"><a class="text-primary" href="#!">Become our Speaker</a></li>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                <h3 class="lh-lg fw-medium text-light mb-4 font-sans-serif"> Legal</h3>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-primary" href="/termsofservice">Terms
                            of Services</a></li>
                    <li class="lh-lg"><a class="text-primary" href="/privacy_policy">Privacy
                            Policy</a></li>
                    <li class="lh-lg"><a class="text-primary" href="/refund_policy">Refund
                            Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 bg-dark">

    <div class="container">
        <div class="row justify-content-md-between justify-content-evenly align-items-md-center py-2">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                <p class="fs--1 my-2 fw-light text-200">
                    All&nbsp;rights&nbsp;Reserved&nbsp;&copy;&nbsp; 2022<a href="https://skillpreceptor.com"
                        class="d-inline nav-link ms-1 text-white">skillpreceptor.com</a>
                    <img src="/assets/img/logos/footer_logo.jpeg" alt="sargenix" class="d-inline" height="40" />
                </p>
            </div>
            <div class="col-12 col-sm-auto">
                <img src="/assets/img/gallery/safe-pay-1.png" alt="safe_payments" height="40">
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/swiper/swiper-bundle.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/assets/js/theme.js"></script>

<!-- TinyMCE Config -->
<script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src="/javascripts/my-tinymce-config.js"></script>
<!--  -->

<link
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
</body>

</html>