<!-- contact and social -->
<div class="contact flex-wrap">
    <div class="flex flex-wrap" style="gap: 10px;">
        <a href="https://twitter.com/SkillPreceptor" target="_blank" class="social"><i class="bi bi-twitter"></i></a>
        <a href="https://pin.it/5yhxBCv" target="_blank" class="social"><i class="bi bi-pinterest"></i></a>
        <a href="http://linkedin.com/in/skill-preceptor-22ba62225" target="_blank" class="social"><i
                class="bi bi-linkedin"></i></a>
        <a href="https://www.facebook.com/people/Skill-Preceptor/100077453412156/" target="_blank" class="social">
            <i class="bi bi-facebook"></i>
        </a>
    </div>
    <div class="flex flex-wrap" style="gap: 10px;">
        <a href="tel:+1-(855)-202-3299" class="phone">
            <i class="bi bi-telephone-fill"></i>
            +1-(855)-202-3299</a>
        <a href="mailto: support@skillpreceptor.com" class="email">
            <i class="bi bi-envelope-fill"></i>
            support@skillpreceptor.com</a>
    </div>
</div>
<!-- contact and social end's here... -->
<!-- header  -->
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #023859;">
    <div class="container-fluid justify-content-between">
        <a href="/" class="navbar-brand"><img src="/assets/img/logos/logo_1.png" alt="logo"></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="bi bi-list"></i></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0 gap-4 gap-md-3" id="navbarNav">

            <form method="POST" action="/webinar/search">
                <div class="input-group d-flex flex-end-center">
                    <input class="form-control form-eduprixsearch-control rounded-pill" id="formGroupExampleInput"
                        type="text" name="courses" placeholder="Search" required />
                    <button type="submit" class="input-box-icon border-0 rounded-circle p-0">
                        <img src="/assets/img/illustrations/search.png" width="36" alt="search" />
                    </button>
                </div>
            </form>

            <ul class="navbar-nav gap-md-3">
                <li class="nav_item">
                    <a href="/home" class="nav_link active" aria-current="page"><i class="bi bi-house-fill"></i></a>
                </li>
                <li class="nav_item">
                    <div class="dropdown dropdown-nav">
                        <a class="nav_link" href="/webinar/all">
                            Webinar
                        </a>

                        <ul class="dropdown-menu rounded-0 py-0 mt-1" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item py-2 fw-medium" style="font-size: 1rem;"
                                    href="/webinar/all?status=Live">Live
                                    Webinars</a></li>
                            <li><a class="dropdown-item py-2 fw-medium" style="font-size: 1rem;"
                                    href="/webinar/all?status=Recorded">On-Demand</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_item"><a href="/seminar/all" class="nav_link">Seminar</a></li>
                <li class="nav_item">
                    <div class="dropdown dropdown-nav">
                        <a class="nav_link" href="#!">
                            Industry
                        </a>
                        <% if (inds?.length) { %>
                            <ul class="dropdown-menu rounded-0 py-0 mt-1" aria-labelledby="dropdownMenuLink">
                                <% inds?.forEach(({_id, nameofdepartment})=> { %>
                                    <li><a class="dropdown-item py-2 fw-medium" style="font-size: 1rem;"
                                            href="/category?industryId=<%=_id%>">
                                            <%= nameofdepartment%>
                                        </a></li>
                                    <% }) %>

                            </ul>
                            <% } %>
                    </div>
                </li>
                <li class="nav_item"><a href="/training" class="nav_link">Consulting</a></li>
                <!-- <li class="nav_item"><a href="/#articles" class="nav_link">Articles Store</a></li>w -->
                <li class="nav_item">
                    <a href="/cart/all" class="nav_link text-center position-relative">
                        <i class="bi bi-cart-plus"></i>
                        <% if (cartCount) { %>
                            <span class="position-absolute top-0 start-100 translate-middle">
                                <%= cartCount %>
                            </span>
                            <% } %>
                    </a>
                </li>
                <%if(!currentUser){%>
                    <li class="nav_item"><a href="/user/login" class="nav_link">Login/Register</a></li>
                    <%}else{%>
                        <li class="nav_item">
                            <a href="/user/dashboard" class="nav_link">
                                <%= currentUser.firstname %>
                            </a>
                        </li>
                        <%}%>
            </ul>
        </div>
    </div>
</nav>