<%- include('layouts/header') %>
    <div class="container-lg p-6 pb-9">
        <div class="card mb-4 shadow py-3">
            <h3 class="text-center">About Us</h3>
            <p class="text-justify p-4">
                Skillpreceptor is an educational and learning portal devoted to advancing quality learning through
                seminars,
                workshops, conferences and online training (webinars & webcasts). Our online platform provides relevant
                training
                programs, designed and delivered in collaboration with world-class industry experts, to cater to a wide
                array of
                business verticals. Our carefully-designed learning tools and commitment to excellence democratize
                learning,
                ensuring that every professional gets an equal opportunity to pursue their career in the industry of
                their
                choice.
            </p>
        </div>
        <div class="card mb-4 shadow py-3 px-4">
            <h4>
                OUR VISION
            </h4>
            <p class="text-justify py-4 ">
                Empowering Professionals to enhance their full potential in the most engaging and meticulously designed
                learning
                environment.
            </p>
        </div>

        <div class="card mb-4 shadow py-3 px-4">
            <h4>OUR MISSION</h4>
            <p class="text-justify py-4">

                To create learning opportunities, enriching your professional journey by offering comprehensive tools
                and
                personalized support, developed in collaboration with Best-in-Class industry professionals.
            </p>
        </div>
    </div>
    <%- include('layouts/footer') %>