<%- include("./layouts/header"); -%>
    <div class="container py-7">
        <form method="post" action="/user/detailforchange" class="needs-validation" id="formdata" nonvalidate>
            <div class="row">
                <div class="col col-md-3 mb-3">
                    <!-- <label for="password" class="form-label">Password</label> -->
                    <input type="password" name="password" class="form-control rounded-0" id="password"
                        placeholder="Password" value="<%= typeof userData != 'undefined' ? userData.password : '' %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <% if(typeof userData !="undefined" ){ %>
                        <% if(typeof userData.password !='undefined' && userData.password.length<8 ){ %>
                            <div id="p1">
                                <p style="width:fit-content; margin-top: 2px; height: fit-content; color: red;">
                                    Password must be at least 8 characters</p>
                            </div>
                            <% } %>
                                <% } %>
                </div>
                <div class="col col-md-3 mb-3">
                    <!-- <label for="password2" class="form-label">Confirm Password</label> -->
                    <input type="password" id="password2" name="password2" class="form-control rounded-0"
                        placeholder="Confirm Password"
                        value="<%= typeof userData != 'undefined' ? userData.password : '' %>" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <% if(typeof userData !="undefined" ){ %>
                        <% if(typeof userData.password2 !='undefined' && match ){ %>
                            <div id="p2">
                                <p id="p2" style="width:fit-content; margin-top: 2px; height: fit-content; color: red;">
                                    Passwords do not match
                                </p>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <button type="submit" id="btn" class="btn btn-secondary mb-3">Update</button>
        </form>
    </div>
    <%- include("./layouts/footer"); -%>