<%- include('layouts/header') %>

    <div class="container-lg p-md-6 pb-9">
        <h5 class="text-secondary">
            What is a Webinar?
        </h5>
        A webinar is a convenient way to attend live training programs. The audio can be
        accessed over phone lines or the internet and the written content (slides, documents,
        etc.) are accessed via the Internet.

        <h5 class="text-secondary">
            How do I register for the webinar?
        </h5>
        Please choose the webinar/program listed by topic on the training page
        Fill in a simple registration form and follow the steps thereafter. You will receive a
        confirmation of your registration in your registered e-mail as soon as your payment is
        processed. Your registration and access details to the event will also be available on
        the “My Account” page of our website.

        <h5 class="text-secondary">
            How do I access the live webinar I have registered for?
        </h5>
        You will receive an e-mail with a link and a password to join the live session. The
        access information will be sent to you two days before the scheduled date of the
        webinar.

        <h5 class="text-secondary">
            What do I need to attend a webinar?</h5>
        All you need is a telephone and a computer with internet access. Please follow the
        link below to test your computer system for optimum performance.
        Link: https://support.goto.com/meeting/new-attendee-guide

        <h5 class="text-secondary">
            What do I do if I encounter any technical difficulties?</h5>
        Please call us on our toll-free number +1 855 202 3299 and our technical support
        engineers will be glad to help you.

        <h5 class="text-secondary">
            Will I receive any reference materials?</h5>
        Yes, we will mail you in advance a PDF copy of all reference materials.

        <h5 class="text-secondary">
            How late can I register for a webinar?</h5>
        You may register online up to 30 minutes from the scheduled start of the webinar. For
        any last-minute registrations, Please call our customer care on +1 855 202 3299.

        <h5 class="text-secondary">
            What is a recorded or OnDemand Webinar?</h5>
        All our live training are recorded using the latest in technology. If for some reason
        there is a schedule conflict, you may opt for the recording of the webinar. The
        recorded version will be available 24 hours after the completion of the live event.
        How many times and for how long do I have access to the recordings?
        You may view/access the recording as many times as you like. The Link to view the
        recording will be active for 6 months from the time it was made available to you.
        How do I use the promo/ discount code?
        The Promo/ Discount Code has to be used in the Checkout Summary page; you must
        copy & paste the code in the “Enter Discount Code” section and click the “Apply
        Discount” button, the page will refresh with the applied discount for products in the
        Cart respectively.

        <h3 class="text-warning">
            FAQs about Orders and Deliveries and the COVID-19 virus</h3>
        <h5 class="text-secondary">
            Can I place an order? Will USB/DVD packages be delivered?</h5>
        Yes, delivery activities are currently continuing. However, delivery times may be
        longer than usual and items for international shipping may be temporarily reduced. Do
        not use delivery addresses for buildings that may be closed due to the current
        provisions (e.g. schools).
        <h5 class="text-secondary">
            Can I change the delivery address on my order?</h5>
        Unfortunately, these orders are being processed for fulfillment instantly via Sales
        Automation Software; hence, once the order is completed, you cannot change the
        delivery address.
        <h5 class="text-secondary">
            Is it safe to receive orders?</h5>
        For guidance on Coronavirus, please refer to the World Health Organization website.
        What's the status of my order and delivery?
        If you have any questions please reach us using the Contact page from the website and
        we will get back to you in 1-2 working days.
    </div>

    <%- include('layouts/footer') %>