<%- include('./layouts/header'); -%>


    <div class="container-fluid bg-soft-secondary px-sm-9 py-3 pt-sm-8 pb-sm-9">
        <div class="row justify-content-sm-center">
            <div class="col-md-6">
                <h1 class="mb-4">Forget Password</h1>
                <form action="/user/forgetpassword" method="post">
                    <div class="mb-3">
                        <input type="email" id="name" name="email" class="form-control rounded-0" required
                            placeholder="Email/ Username" />
                    </div>
                    <button type="submit" class="btn btn-secondary">Change</button>
                    <a href="/user/login" class="btn btn-outline-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>

    <%- include('./layouts/footer'); -%>