<%- include("./layouts/header"); -%>

    <div class="container-fluid bg-soft-secondary px-sm-9 py-5 pt-sm-6 pb-sm-9">

        <div class="row justify-content-sm-center">
            <div class="col-md-6">
                <h1 class="mb-4">LogIn</h1>

                <form method="post" action="/user/login" class="needs-validation" nonvalidate>

                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control rounded-0" placeholder="Email/Username"
                            required autocomplete="off" />
                    </div>

                    <div class="form-group mb-3">
                        <input type="password" name="password" class="form-control rounded-0" placeholder="Password"
                            required />
                    </div>

                    <button type="submit" class="btn btn-secondary">Log in</button>
                    <a href="/user/register" class="btn btn-outline-secondary">Register</a>
                    <a href="/user/forgetpassword" class="nav_link text-secondary w-md-100">Forget password?</a>
                </form>
            </div>
        </div>


    </div>

    <!-- Bootstrap plugin for form validation -->
    <%- include('partials/form-validation.ejs'); %>

        <%- include("./layouts/footer"); %>