<%- include("./layouts/header"); -%>
    <div class="card text-center">

        <h1>We have sent an mail to you.
            <br>please verify it.
        </h1>

        <!-- <h1> please go and first verify your mail.
                </h1> -->

    </div>
    <%- include("./layouts/footer"); -%>