<%- include('layouts/header') %>

    <div class="container-lg p-md-6 pb-9">
        <h4 class="text-center text-secondary">PRIVACY POLICY</h4>

        At Skillpreceptor, we are committed to protecting your privacy and giving you a secure online
        experience. We would need your information to provide certain content, services, and products that
        you request, and this statement of privacy explains data collection and use in those situations.
        Please read the privacy statement below.<br /><br />

        Collecting Personal Information:<br /><br />
        We will ask you when we need information that personally identifies you and allows us to contact
        you. Generally, this information is requested when you are ordering email newsletters, joining a
        limited-access premium site, or purchasing products or services. Personal information collected by
        SkillPreceptor often is limited to email address, phone number, mailing address, company name,
        country, or location, but may include other information when needed to fulfill your request or order.
        <br /><br />
        SkillPreceptor may ask you to provide certain information about yourself by filling out and
        submitting an online form. It is completely optional for you to engage in these activities. If you elect
        to engage in these activities, however, SkillPreceptor may ask you to provide us your personal
        information, such as your first and last name, mailing address, email address, employer, job title, and
        department, telephone numbers, and other personal information,
        <br /><br />
        When ordering products or services, you may be asked to provide a credit card number. Depending
        upon the activity, some of the information that we ask you to provide is identified as mandatory and
        some as voluntary. If you do not provide the mandatory data concerning a particular activity, you
        will not be able to proceed with that activity.
        <br /><br />
        When you buy and install the new products, we may ask you to register your purchases
        electronically. When you do, we keep registration information on file with any information you’ve
        already given us on previous visits to our website. This is considered your personal profile.
        <br /><br />
        When you submit personal information to SkillPreceptor through this Site, you understand and
        agree that this information may be transferred across national boundaries and may be stored and
        processed in any of the countries in which SkillPreceptor maintains offices. You also acknowledge
        that in certain countries or concerning certain activities, the collection, transferring, storage, and
        processing of your information may be undertaken by trusted vendors and partners of
        SkillPreceptor. Such vendors and partners are bound by contract not to use your personal
        information for their own purposes or provide it to any third parties.
        <br /><br />
        Use of Personal Information<br /><br />
        SkillPreceptor collects your information to record and support your participation in the activities you
        select. If you subscribe to a service or register a product, for example, the information is used to
        register your rights, if any, to technical support or other benefits that may be made available to
        registered users. Your personal information is also used to keep you informed about product
        upgrades, special offers, and other products and services of SkillPreceptor and selected third parties.
        <br /><br />
        SkillPreceptor will disclose your personal information, without notice, only if required to do so by
        law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or
        comply with legal process served on SkillPreceptor or the site; (b) protect and defend the rights or
        property of SkillPreceptor and its family of Web sites, and, (c) act in urgent circumstances to protect
        the personal safety of users of SkillPreceptor, its Web sites, or the public.
        <br /><br />
        SkillPreceptor may collect information about the use of the Site, such as the types of services used
        and how many users we receive daily. This information is collected in aggregate form, without
        identifying any user individually. SkillPreceptor may use this aggregate, non-identifying statistical
        data for statistical analysis, marketing, or similar promotional purposes.
        <br /><br />
        Security of Personal Information<br /><br />
        SkillPreceptor strictly protects the security of your personal information and honors your choices for
        their intended use. We carefully protect your data from loss, misuse, unauthorized access or
        disclosure, alteration, or destruction.
        <br /><br />
        Your personal information is never shared outside the company without your permission, except
        under the conditions explained above. Inside the company, data is stored in password-controlled
        servers with limited access.
        <br /><br />
        Use of Cookies and Tracking User Traffic<br /><br />
        Some pages on our site may use “cookies”. “Cookies” are small files that the site places on your hard
        drive for identification purposes. A cookie file can contain information such as a user ID to track the
        pages visited. However, the only personal information a cookie can contain is information you
        provide yourself.<br /><br />
        These files are used for site registration and customization the next time you visit us.
        Some parts of the portal may also use cookies to track user traffic patterns. We do this to determine
        the usefulness of our Website information and to analyze how effective our navigational structure is,
        in helping users reach that particular information.<br /><br />
        Please Note: “Cookies” cannot read data off your hard drive. Your Web browser may notify you
        when you are receiving a cookie - giving you the choice to accept or reject. By not accepting cookies,
        some pages may not function properly and you may not be able to access certain information.
        <br /><br />
        Changes to this Statement<br /><br />
        SkillPreceptor will occasionally update this privacy statement. For material changes to this
        Statement, SkillPreceptor will notify you by placing prominent notices on the Web site.<br /><br />
        Contact
        Queries regarding this privacy statement please send mail to info@skillpreceptor.com, or call Toll
        Free: +1 855 202 3299<br /><br />
        SkillPreceptor Training Solutions, 1309 Coffeen Avenue STE 1200, Sheridan, Wyoming 82801<br /><br />
        Last Updated: 01-22-2022
    </div>

    <%- include('layouts/footer') %>