<%- include('layouts/header') %>

    <div class="container-lg p-md-6 pb-9">
        <h4 class="text-center text-secondary">Cancellation and Refund Policy</h4>

        <br /><br />
        For Online Events (Webinars):<br /><br />
        Participants of our live events, may cancel up to 48 working hours prior to the event start date and
        will receive a letter of credit to be used towards a future event, valid up to one year from the date of
        issuance.<br /><br />
        We at “Skillpreceptor” would process/provide refund only if the event has been cancelled.
        In case of a cancelled webinar, the participant can choose between the recorded version of the
        webinar or for a refund. Refunds will not be given to participants who do not show up for the
        webinar. We might provide a recorded link, in exchange, based on the participants’ request.
        A Webinar may be cancelled due to lack of enrolment or due to unavoidable factors. All participants
        will be notified 24 hours in advance in case a webinar is cancelled.
        <br /><br />
        For In-Person Events (Seminars):
        Cancellation:<br /><br />
        The Participant(s) (the person who has registered for this conference) need to submit a written
        cancellation request through fax or email at least seven calendar days prior to the start date of the
        event. In that case, we will issue a refund— less a $200 administration fee.
        No cancellations will be accepted — nor refunds issued — if we receive a request in less than seven
        calendar days from the start date of the event.
        A Seminar may be cancelled due to lack of enrolment or due to unavoidable factors. All participants
        will be notified seven days prior to the start date of Seminar.
        In the event Skillpreceptor cancels a seminar, we are not responsible for any airfare, hotel, other
        costs or losses incurred by registrants.
        <br /><br />
        Rescheduling / Substitution:<br /><br />
        Participants can request us, either via fax or e-mail (two calendar days prior to the seminar); for
        rescheduling/substitution.
        In such a case, we will issue the participant a credit for the amount paid minus administration fees
        ($200).
        The same, can be used to attend any future Skillpreceptor event and will be valid for a period of one
        year.
        <br /><br />
        No Show:
        No-shows will be charged the full amount. Also, some topics and speakers may be subject to change
        without notice.
        <br /><br />
        Contact Details:<br /><br />
        For refunds/exchange/substitutions, please email us at - support@skillpreceptor.com.
    </div>

    <%- include('layouts/footer') %>