<%- include('layouts/header');%>

    <div class="container-fluid bg-soft-secondary my-5 my-md-9 py-7 shadow">
        <form action="/newsletter/unsubscribe" method="post">
            <div class="row flex-center">
                <div class="col-12 col-md-4 mb-3 pt-3">
                    <input type="email" name="email" id="email" class="form-control rounded-0"
                        placeholder="Your Email" />
                </div>
                <button type="submit" class="btn btn-secondary col col-xl-2 col-md-3 mx-3">Unsubscribe</button>
            </div>
        </form>
    </div>

    <%- include('layouts/footer');%>