<%- include('../layouts/header') %>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/userSideBar') %>
            </div>
            <div class="col col-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ProductId</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Training Date</th>
                            <th scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>#26326</td>
                            <th scope="row">Programming in Python</th>
                            <td>20-May-2022</td>
                            <td><a href="#downloadCertificate" class="nav-link">Download Certificate</a></td>
                        </tr>
                        <tr>
                            <td>#26326</td>
                            <th scope="row">Programming in Python</th>
                            <td>20-May-2022</td>
                            <td><a href="#downloadCertificate" class="nav-link">Download Certificate</a></td>
                        </tr>
                        <tr>
                            <td>#26326</td>
                            <th scope="row">Programming in Python</th>
                            <td>20-May-2022</td>
                            <td><a href="#downloadCertificate" class="nav-link">Download Certificate</a></td>
                        </tr>
                        <tr>
                            <td>#26326</td>
                            <th scope="row">Programming in Python</th>
                            <td>20-May-2022</td>
                            <td><a href="#downloadCertificate" class="nav-link">Download Certificate</a></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <%- include('../layouts/footer') %>